.Box {
  display: flex;
  align-items: center;
  > *:not(:last-child) {
    margin-right: 8px;
  }
}
.Box.none {
  > *:not(:last-child) {
    margin-right: unset;
  }
}
.Box.small {
  > *:not(:last-child) {
    margin-right: 4px;
  }
}
.Box.large {
  > *:not(:last-child) {
    margin-right: 24px;
  }
}

.Box.col {
  flex-direction: column;
  > *:not(:last-child) {
    margin-right: unset;
    margin-bottom: 8px;
  }
}
.Box.col.none {
  > *:not(:last-child) {
    margin-right: unset;
    margin-bottom: unset;
  }
}
.Box.col.small {
  > *:not(:last-child) {
    margin-right: unset;
    margin-bottom: 4px;
  }
}
.Box.col.large {
  > *:not(:last-child) {
    margin-right: unset;
    margin-bottom: 24px;
  }
}
