.Timeline {
  display: grid;
  grid-template:
    'Title  Timestamp' auto
    'Track  Track    ' 1fr / 1fr 1fr;
}
.Timeline .Title {
  grid-area: Title;
  justify-self: left;
}
.Timeline .Timestamp {
  grid-area: Timestamp;
  justify-self: right;
}
.Timeline .Track {
  grid-area: Track;
}