.Text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: default;
}
.Text.title1 {
  font-size: 1.5em;
}
.Text.subhead {
  font-size: 0.8em;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.4);
}
