.Swiper {
  position: relative;
  .pagination {
    position: absolute;
    right: 0;
    bottom: 10px;
    left: 0;
    width: fit-content;
    height: fit-content;
    margin: auto;
  }
  .back,
  .forward {
    position: absolute;
    top: 0;
    left: 0;
    width: 10%;
    height: 100%;
    button {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      width: fit-content;
      height: fit-content;
    }
  }
  .forward {
    left: unset;
    right: 0;
  }
}
