.Icon {
  background-color: currentColor;
  max-width: 64px;
  max-height: 64px;
  min-width: 16px;
  min-height: 16px;
  &.iconfont {
    background-color: unset;
  }
}
.Icon.heart {
  color: #c93535;
}
