.Button {
  padding: 0;
  border: 0;
  display: flex;
  background: transparent;
  > *:not(:last-child) {
    margin-right: 4px;
  }
  &::-moz-focus-inner {
    //为了去除firefox的边框问题
    border: none;
  }
  &:active {
    //为了去除 firefox对 <button>的默认点击位移
    padding: inherit;
  }
}
.Button._hasBorder {
  padding: 4px 8px;
  border: 2px solid rgba(165, 165, 165, 0.6);
  background: rgba(240, 240, 240, 0.6);
  &:hover {
    background-color: rgb(240, 240, 240);
  }
  &:active {
    filter: brightness(0.8);
  }
}
.Button._disabled {
  opacity: 0.5;
}
.Button._small {
  font-size: 0.8em;
}
.Button._large {
  font-size: 1.5em;
}
