@use '../mypack/basic_components/sassMixins.scss' as *;

.Section.album-menu {
  display: grid;
  border-right: var(--middle-line);
  grid-template-rows: max-content 1fr max-content;
  background-color: var(--primary-color);
}

.Card.shrink-button {
  background-color: transparent;
  box-shadow: unset;
}

.Menu {
  --menu-gap-width: 48px;
  contain: paint;
  overflow: hidden auto;
  .Text.headline {
    font-size: 14px;
    color: gray;
  }
  .Item {
    padding-top: 12px;
    padding-bottom: 12px;
    .textbox {
      max-width: 90%;
      width: max-content;
    }
  }
  .Menu__Item:hover {
    background-color: cornflowerblue;
  }
}

// 影响
.Card.user-info {
  height: 80px;
  padding: 8px;
  border-top: var(--middle-line);
  background-color: transparent;
  box-shadow: unset;
  display: flex;
  align-items: center;
  .Avatar {
    flex-shrink: 0;
    margin-right: 8px;
    height: 40px;
    width: 40px;
  }
  .Text.nickname {
    flex: 1;
  }
  .Icon {
    margin-left: 8px;
  }
}
