.Section {
  display: flex;
  flex-direction: column;
  .Menu {
    flex: 1;
    overflow: auto;
    .__Header {
      .Card {
        background-color: white;
      }
    }
  }
  .__Footer {
    .Card {
      background-color: white;
    }
  }
}
