.player-bar {
  display: grid;
  align-items: center;
  grid-template-columns: auto auto 1fr auto;
  border-top: var(--middle-line);
  background: var(--theme-color);
  height: 100%;
  gap: 48px;
  .album-face {
    width: 80px;
    height: 80px;
    object-fit: cover;
  }
  .music-buttons .Button {
    width: 50px;
    height: 50px;
    margin-right: 16px;
    border-radius: 1000px;
    background: var(--secondary-color);
    color: white;
    display: grid;
    place-items: center;
    &:hover {
      transform: scale(1.2);
    }
    &:active {
      filter: brightness(0.8);
    }
    &:last-child {
      margin-right: 0;
    }
    &.last-song .Text {
      padding-bottom: 3px;
      padding-right: 1.5px;
    }
    &.play .Text {
      padding-bottom: 0.5px;
      padding-left: 2.5px;
      transform: scale(1.5);
    }
    &.pause .Text {
      padding-bottom: 3px;
      transform: scale(1.5);
    }
    &.next-song .Text {
      padding-bottom: 3px;
      padding-left: 1.5px;
    }
  }
  .timeline {
    display: grid;
    grid-template:
      'songTitle  timestamp ' auto
      'Slider      Slider   ' 1fr / 1fr 1fr;
    .songTitle {
      grid-area: songTitle;
      justify-self: left;
    }
    .timestamp {
      grid-area: timestamp;
      justify-self: right;
    }
    .Slider {
      grid-area: Slider;
      width: auto;
      padding: 12px 0;
      margin: 0 10px;
      .Trigger {
        width: 20px;
        height: 20px;
      }
    }
  }

  .info-panel {
    .Button {
      margin-right: 24px;
      &._off {
        filter: brightness(0.5);
      }
    }
    .Popover > .Content {
      padding: 0px 8px;
    }
  }
}
