.song-collections {
  .TableView {
    .Item {
      display: grid;
      grid-template: 'image title' auto/ auto;
      .Image {
        grid-area: image;
        height: 40px;
        width: $height;
      }
      .title {
        grid-area: title;
        color: #333;
      }
    }
  }
}
