@mixin row($gap: 8px) {
  display: flex;
  > *:not(:last-child) {
    margin-right: $gap;
  }
}
@mixin col($gap: 8px) {
  display: flex;
  flex-direction: column;
  > *:not(:last-child) {
    margin-bottom: $gap;
  }
}
