.--transiable {
  transition-duration: 300ms;
}
.--transiable--fast {
  transition-duration: 150ms;
}
.--transiable--faster {
  transition-duration: 200ms;
}
.--transiable--slower {
  transition-duration: 430ms;
}
.--transiable--slow {
  transition-duration: 600ms;
}

.--active {
  @extend .--shown;
  @extend .--playing;
}
.--selected {
  backdrop-filter: brightness(100%);
  filter: brightness(80%);
  contain: paint;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-left: 4px solid var(--secondary-color, #1e63f8);
  }
}
.--selected--just-brightness {
  backdrop-filter: brightness(100%);
  filter: brightness(80%);
  contain: paint;
}
.--shown {
  opacity: 1;
}
.--hidden {
  opacity: 0;
  pointer-events: none;
}
.--hidden--scale-mode {
  transform: scale(0);
}
.--disppared {
  display: none;
}

.--playing {
  animation-play-state: running;
}
.--paused {
  animation-play-state: paused !important/* animation 是简写属性会重置，所以写上 */;
}
.--clickable:not(.--selected) {
  cursor: pointer;
  &:hover {
    backdrop-filter: brightness(100%);
    filter: brightness(95%);
  }
  &:active {
    backdrop-filter: brightness(100%);
    filter: brightness(60%);
  }
}
.--clickable-without-backdrop-effect:not(.--selected) {
  cursor: pointer;
  &:hover {
    filter: brightness(75%);
  }
  &:active {
    filter: brightness(60%);
  }
}
