.List {
  .List__Item {
    opacity: 0.8;
    &:hover:not(._selected) {
      transform:  translateX(8px);
    }
    &._selected {
      opacity: 1;
      filter: contrast(50%);
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}
