.MenuList {
  color: var(--primary-text, #333);
  --divider-height: 1px;
  --divider-color: rgba(0, 0, 0, 0.1);
  --divider-left: 0px;
  .Item {
    border-bottom: var(--divider-height) solid transparent; // 为了撑开高度
    position: relative;
    padding-top: 8px;
    padding-bottom: 8px;
    &:last-child {
      border-bottom: initial;
      &::after {
        all: unset;
      }
    }
    &:hover::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.1);
    }
    &.selected {
      border-left: 4px solid var(--primary, dodgerblue);
    }
    &::after {
      content: '';
      position: absolute;
      height: var(--divider-height);
      bottom: calc(-1 * var(--divider-height));
      left: var(--divider-left);
      right: 0;
      background-color: var(--divider-color);
    }
    > * {
      display: grid;
      grid-template: 'image title' auto / auto 1fr;
      .Image {
        grid-area: image;
        width: 100px;
        height: 100px;
        margin-right: 8px;
        margin-left: 8px;
      }
      .title {
        grid-area: title;
        color: #333;
      }
    }
  }
}
