.Menu {
  --menu-gap-width: 32px;
  display: grid;
  grid-auto-rows: max-content;
  gap: var(--menu-gap-width);
}
.__MenuGroupTitle {
  &._selected {
    background-color: aliceblue;
  }
}
.__MenuItem {
  &._selected {
    border-left: 4px solid var(--primary, dodgerblue);
  }
}
