.Menu {
  display: grid;
  grid-auto-rows: max-content;
  gap: 32px;
}
.__MenuGroup {
  &._selected {
    background-color: aliceblue;
  }
}
.__MenuItem {
  &._selected {
    border-left: 4px solid var(--primary, dodgerblue);
  }
}
