@import 'App';

.RedDot {
  &._invisiable {
    display: none;
  }
  position: relative;
  width: 100%;
  height: 0;
  .__Dot {
    position: absolute;
    left: calc(100% + #{$dot-position-x});
    top: $dot-position-y;
    transform: translate(-50%, -50%);
    background-color: $dot-color;
    color: $dot-text-color;
    font-size: $dot-size * 0.625;
    height: $dot-size;
    min-width: $dot-size;
    border-radius: 100px;
    @include center-normal-inner-element;
    &._onlyDot {
      min-width: $dot-size * 0.4;
      height: $dot-size * 0.4;
    }
  }
}
