.Text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  &.title3{
    line-height: 2;
    font-weight: 600;
    font-size: 1.2em;
  }
  &.largeTitle {
    font-size: 2em;
  }
  &.headline {
    font-size: 1em;
    font-weight: 600;
  }
  &.subhead {
    font-size: small;
    opacity: 0.45;
  }
  &.footnote {
    font-size: small;
    opacity: 0.3;
  }
}