.home {
  width: 100%;
  height: 100%;
  padding: 16px;
  .Swiper {
    margin: -16px;
    margin-bottom: unset;
    .Image {
      width: 100%;
    }
  }
  header {
    margin-top: 24px;
    border-bottom: 1px solid lightgrey;
    display: grid;
    grid-auto-rows: 1fr;
    grid-auto-flow: column;
    justify-content: space-between;
  }
}

.recommand-playlists {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  // grid-auto-rows: 200px;
  gap: 20px;
  .recommend-playlist-item {
    .picture-box {
      width: 100%;
      background-color: white;
      // border: 1px solid;
      margin: auto;
      position: relative;
      .play-count {
        position: absolute;
        top: 0;
        right: 0;
        .Icon {
          width: 8px;
        }
      }
      .hover-legend {
        position: absolute;
        top: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.582);
        color: white;
      }
      .thumbnail {
        display: block;
        width: 100%;
        &.recommand {
          background-color: white;
          padding-bottom: 100%;
        }
      }
      .day {
        position: absolute;
        top: 20%;
        left: 0;
        right: 0;
        color: #666;
        font-size: 1.4em;
        text-align: center;
      }
      .date {
        position: absolute;
        top: 22%;
        left: 0;
        right: 0;
        text-align: center;
        color: #c62f2f;
        font-size: 136px;
      }
    }
    .legend {
      // display: none;
    }
  }
}
