.Popover {
  padding: 4px;
  display: grid;
  place-content: center;
  overflow: hidden;
}
.Popover.is-open {
  width: 116px;
}
.Popover:not(.is-open) {
  width: 0;
  /* width: 116px; */
  margin-bottom: -8px;
  padding-left: 0px;
  padding-right: 0px;
}
