@use '../sass/initialize.scss';
.detail-area {
  padding-left: 28px;
  padding-right: 28px;
  // background-image: linear-gradient(to bottom, #eee, #fff);
  background-color: white;
  .title {
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .collection-info {
    display: grid;
    grid-template:
      'thumbnail  title  ' max-content
      'thumbnail  creator' max-content
      'thumbnail  buttons' max-content
      'thumbnail  .      ' 1fr
      / max-content 1fr;
    gap: 12px;
    .thumbnail {
      grid-area: thumbnail;
      position: relative;
      .bg {
        width: 180px;
        height: 180px;
      }
      .cover-icon {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(2px);
      }
    }
    .Title {
      grid-area: title;
    }
    .creator {
      grid-area: creator;
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: max-content;
      gap: 8px;
      align-items: center;
      .avatar {
        width: 28px;
        height: 28px;
      }
      .nickname {
        font-size: small;
        opacity: 0.45;
      }
      .create-time {
        font-size: small;
        opacity: 0.3;
      }
    }
    .buttons {
      grid-area: buttons;
      :not(:hover):not(:active) .Icon {
        opacity: 0.4;
      }
    }
  }
  .list-operator {
    margin: 16px 0;
    .play-all-btn {
      .Icon {
        color: var(--secondary);
      }
    }
    .select-btn {
      .Icon {
        color: #666;
      }
    }
    .search-slot {
      height: 32px;
      padding: 0 8px;
      margin-left: auto;
      border: 1.5px solid lightgray;
      border-radius: 100px;
      .input {
        font-size: 0.8em;
        width: 88px;
        @include initialize.input;
        &::placeholder {
          color: lightgray;
        }
      }
      .Icon {
        color: gray;
      }
    }
  }
  .List {
    .Item {
      padding: 16px;
      &._even {
        background: rgb(244, 244, 246);
      }
      > * {
        display: flex;
      }
      .Icon.heart,
      .Icon.sq {
        color: var(--secondary);
        filter: brightness(0.9);
      }
      .song-index {
        min-width: 40px;
        justify-content: center;
      }
      .indicator-like {
        min-width: 40px;
        justify-content: center;
      }
      .song-name {
        flex: 2 0 0;
        min-width: 80px;
        .sub-name {
          display: inline;
          opacity: 0.4;
        }
      }
      .album-name {
        flex: 1 0 0;
        min-width: 60px;
      }
      .author {
        flex: 1 0 0;
        min-width: 40px;
      }
      .total-seconds {
        flex: 0.5 0 0;
        min-width: 40px;
      }
      .icon-box {
        min-width: 20px;
      }
      .song-badges {
        flex: 0.5 0 0;
        min-width: 20px;
      }
    }
  }
}
