.song-detail-page {
  grid-area: 1 / 1 / auto / -1;
  z-index: 1;
  background-color: white;
  transform-origin: bottom left;
  transition: 300ms;
  &.hidden {
    transform: scale(0);
  }
  &.shown {
    transform: none;
  }
}
