.SongDetailPage {
  grid-area: 1 / 1 / auto / -1;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: start;
  background-color: white;
  transform-origin: bottom left;
  transition: 300ms;
  contain: size;
  overflow: auto;
  .cover {
    width: max-content;
    position: relative;
    padding: 80px;
    animation: rotateInfinity 25s linear infinite;
    &.--rotating {
      animation-play-state: running;
    }
    &.--stopped {
      animation-play-state: paused;
    }
    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: 50%;
      background-image: repeating-radial-gradient(#111, #111 10px, #222 10px, #222 11px);
    }
    img {
      display: block;
      width: 260px;
      height: 260px;
      border-radius: 50%;
    }
  }
  &.--hidden {
    transform: scale(0);
  }
  &.--shown {
    transform: none;
  }
}

@keyframes rotateInfinity {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
