/* 初始化样式 */
body {
  margin: 0;
}
body * {
  box-sizing: border-box;
}

/* 业务样式 */
.AppRoot {
  --light-line: 1px solid rgba(211, 211, 211, 0.541);
  --middle-line: 1.5px solid #dddde1;
  --theme-color: #fff; // 无彩色
  --primary-color: #f3f3f5;
  --secondary-color: #df3b3b;
  --socondary-color-line: 4px solid var(--secondary-color);
  height: 100vh;
  display: grid;
  grid-template:
    'a b' 1fr
    'c c' auto
    / 226px 1fr;
}
.album-menu {
  grid-area: a;
}
.main-app-content {
  grid-area: b;
}
.player-bar {
  grid-area: c;
}

.collections-list {
  .MenuList {
    .Image {
      width: 40px;
      height: 40px;
    }
  }
}
