#app {
  --section-divider: 1.5px solid #dddde1;
  --theme-color: #fff; // 无彩色
  --primary: #f3f3f5;
  --secondary: #df3b3b;
  height: 100vh;
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 1fr auto;
}
.SectionHeader + * {
  margin-bottom: 48px;
}

/* ----------------------------- 对基本样式的overwrite ---------------------------- */
