/* 初始化样式 */
body {
  display: unset;
  margin: 0;
}
body * {
  user-select: none;
  transition: 0.2s;
  box-sizing: border-box;
}
body div {
  display: grid; /* 好像对性能完全没有影响 */
}

/* 业务样式 */
.app-box {
  /* 业务样式的包壳，迟早要替换掉 */
  --theme-color-primary: crimson;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template: 'space' 1fr / auto;
}
.content-space {
  grid-area: 'space';
}
