/* 初始化样式 */
body {
  margin: 0;
}
* {
  user-select: none;
  transition: .2s;
}

/* 基础组件的样式 */




/* 业务样式 */
.app-box {
  /* 业务样式的包壳，迟早要替换掉 */
  --theme-color-primary: crimson;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template: 'space' 1fr / auto;
}
.content-space {
  grid-area: 'space';
}

