/* 初始化样式 */
body {
  margin: 0;
}

/* 基础组件的样式 */
.ButtonGroup {
  display: flex;
}

.Timeline {
  display: grid;
  grid-template:
    'LeftLabel RightLabel' max-content
    'Slider    Slider    ' 1fr / 1fr 1fr;
}
.Timeline .LeftLabel {
  grid-area: LeftLabel;
  justify-self: left;
}
.Timeline .RightLabel {
  grid-area: RightLabel;
  justify-self: right;
}
.Timeline .Slider {
  grid-area: Slider;
}
.Slider {
  display: grid;
  place-items: center;
  height: 20px;
  color: crimson;
  contain: layout;
}
.Slider .Track {
  width: 100%;
  height: 3px;
  background-color: rgb(202, 202, 202);
  contain: layout;
}
.Slider .Track .ActiveLine {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: crimson;
}
.Slider .Trigger {
  position: absolute;
  z-index: 4;
  border-radius: 1000px;
  width: 20px;
  height: 20px;
  background-color: white;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.404);
  transform: translateX(-50%);
  transition: transform 0.2s ease;
}
.Slider .Trigger:hover {
  transform: translateX(-50%) scale(1.2);
}
.Slider .Trigger:active {
  filter: brightness(0.8);
}

/* 业务样式 */
.temp-grid-item {
  width: 100%;
  min-height: 50px;
}

.player-bar {
  display: grid;
  grid-template: 80px / 80px max-content 1fr max-content;
  align-items: center;
  background: rgb(158, 158, 158);
  height: 100%;
  gap: 16px;
}

.player-bar .album-face {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.player-bar .music-buttons .Button {
  width: 50px;
  height: 50px;
  margin-right: 8px;
  border-radius: 1000px;
  background: rgb(216, 216, 216);
  display: grid;
  place-items: center;
}
.player-bar .music-buttons .Button:last-child {
  margin-right: 0;
}

.player-bar .music-timeline {
  min-width: 300px;
  margin-right: 16px;
  flex: 1;
  background: dodgerblue;
}
.player-bar .info-panel .Button {
  margin-right: 8px;
}
.player-bar .info-panel .Button:last-child {
  margin-right: 0;
}
